@font-face {
  font-family: "PT Sans";
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #756157;
  --color-secondary: #82B3D3;
  --color-secondary-middle: #E6F0F6;
  --color-secondary-light: #F0F6FA;
  --color-accent: #7DB54F;
  --color-dark-primary: #000000;
  --color-dark-secondary: #333333;
  --color-light: #FFFFFF;
  --color-gray: #E5E5E5;
  --color-gray-light: #F2F2F2;
  --color-error: #FF5757;

  --border: 1px solid var(--color-gray);
  --border-radius: 4px;

  --font-family: "PT Sans", sans-serif;
}

/* Нормализация блочной модели */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы слева и стандартный маркер, у которых есть атрибут с классом list */
:where(ul, ol):where([class*="list"]) {
  padding-left: 0;
  list-style-type: none;
}

/* Убираем внешние отступы у которых есть атрибут class */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/* Наследуем свойства шрифт для полей ввода */
input,
textarea,
select,
button {
  font: inherit;
}

/* Изображения */
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-dark-secondary);
  background-color: var(--color-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.button--small {
  font-size: 16px;
  line-height: 20px;
}

.button--big {
  font-size: 20px;
  line-height: 36px;
}

.button--primary {
  color: var(--color-light);
  background-color: var(--color-primary);
}

.button--secondary {
  color: var(--color-light);
  background-color: var(--color-secondary);
}

.button--transparent {
  color: var(--color-light);
  background-color: transparent;
}

.button--active {
  color: var(--color-light);
  background-color: var(--color-accent);
}

/** Pages */

.navigation-link,
.navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-decoration: none;
}

.page-header-button {
  padding: 8px 34px;
}

/* Первая секция */
.hero {
  position: relative;
  padding: 51px 10px;
  padding-bottom: 82px;
  text-align: center;
  background-color: var(--color-dark-secondary);
  background-image: url("../images/hero-bg-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero::after {
  content: "";
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  min-height: 30px;
  padding-bottom: 4.74%;
  background-color: var(--color-light);
  clip-path: polygon(0% 0%, 20.83% 41.67%, 20.83% 0%, 50% 100%, 79.17% 0%, 79.17% 41.67%, 100% 0%, 100% 100%, 0% 100%);
}

/* О нас */
.about {
  padding-top: 69px;
  text-align: center;
}

.about-title {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.about-subtitle {
  margin-bottom: 90px;
}

.about-item-row {
  color: var(--color-light);
  background-color: var(--color-secondary);
}

.about-item:nth-child(3) {
  background-color: var(--color-secondary-middle);
}

.about-item:nth-child(2n) {
  background-color: var(--color-secondary-light);
}

.about-item-image {
  display: block;
}

.about-item-title {
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-list >
.about-item:nth-child(n+2):nth-child(-n+4) >
.about-item-title {
  color: var(--color-dark-primary);
}

.about-description {
  position: relative;
  font-size: 18px;
  line-height: 21px;
}

.about-list >
.about-item:first-child >
.about-description::before,
.about-list >
.about-item:last-child >
.about-description::before {
  content: "";
  position: absolute;
  top: -31px;
  left: 50%;
  bottom: auto;
  width: 60px;
  height: 2px;
  transform: translate(-50%);
  background-color: #A7CAE0;
}

.about-list >
.about-item:nth-child(n+2):nth-child(-n+4) >
.about-description::before {
  content: "";
  position: absolute;
  top: -31px;
  left: 50%;
  bottom: auto;
  width: 60px;
  height: 2px;
  transform: translate(-50%);
  background-color: #A8ACAF;
}

/* Преимущества */
.advantages {
  padding-top: 64px;
  text-align: center;
}

.advantages-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.advantages-subtitle {
  margin-bottom: 64px;
}

.advantages-item:nth-child(2n+1) {
  background-color: var(--color-secondary-middle);
}

.advantages-item-title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

/* Предложение найти гостиницу */
.offer {
  padding: 96px 10px;
  text-align: center;
}

.offer-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.offer-subtitle {
  margin-bottom: 54px;
}

.offer-button {
  padding: 8px 50px;
}

/* Подписка  */
.subscribe {
  padding: 96px 10px;
  padding-bottom: 104px;
  text-align: center;
}

.subscribe.subscribe-bg {
  background-color: var(--color-dark-secondary);
  background-image: url(../images/subscribe-bg-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.subscribe-bg .subscribe-title,
.subscribe-bg .subscribe-subtitle {
  color: var(--color-light);
}

.subscribe-subtitle {
  margin-bottom: 54px;
}

.subscribe-button {
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
}

.subscribe-form-inner {
  display: inline-flex;
}

.subscribe-field {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--color-gray-light);
  border: none;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
}

/* Подвал */
.page-footer {
  padding: 45px 10px;
}

.contact-phone {
  font-style: normal;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--color-dark-primary);
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

.inner-hero {
  padding: 35px 70px 70px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-secondary);
  background-image: url("../images/place-filter-bg-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.inner-navigation {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
}

.item-icon {
  display: block;
  width: 13px;
  height: 15px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-set {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.min-price, .max-price {
  padding: 12px 20px;
  font-weight: 700;
}

.apply-button {
  padding: 8px 50px;
  border: none;
  cursor: pointer;
}

.reset-button {
  padding: 8px 50px;
  border: transparent;
  cursor: pointer;
}

/* Каталог */
.catalog-products {
  padding: 50px 70px;
}

.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.product-card-link {
  color: inherit;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-dark-primary);
}

.product-card p {
  font-size: 18px;
  line-height: 21px;
}

.product-card-button {
  padding: 8px 18px;
}

.product-card-rating {
  display: inline-block;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-gray-light);
}

/* Пагинация */
.pagination-link {
  padding: 12px 18px;
  width: 60px;
  height: 60px;
}

.pagination--current {
  color: var(--color-dark-primary);
  background-color: var(--color-gray-light);
}
