@font-face {
  font-family: "PT Sans";
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #756157;
  --color-secondary: #82B3D3;
  --color-secondary-middle: #E6F0F6;
  --color-secondary-light: #F0F6FA;
  --color-accent: #7DB54F;
  --color-dark-primary: #000000;
  --color-dark-secondary: #333333;
  --color-light: #FFFFFF;
  --color-gray: #E5E5E5;
  --color-gray-light: #F2F2F2;
  --color-error: #FF5757;
  --color-focus: #68A2CA;

  --border-gray: 1px solid var(--color-gray);
  --border-gray-2: 2px solid var(--color-gray);
  --border-dark-primary-2: 2px solid var(--color-dark-primary);
  --border-radius: 4px;

  --font-family: "PT Sans", sans-serif;
}

/* Нормализация блочной модели */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Делаем стилизацию дефолтного фокуса */
*:focus-visible {
  outline: 3px solid var(--color-focus);
  outline-offset: -2px;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

/* Убираем внутренние отступы слева и стандартный маркер, у которых есть атрибут с классом list */
:where(ul, ol):where([class*="list"]) {
  padding-left: 0;
  list-style-type: none;
}

/* Убираем внешние отступы у которых есть атрибут class */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/* Наследуем свойства шрифта для полей ввода */
input,
textarea,
select,
button {
  font: inherit;
}

/* Изображения */
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  color: var(--color-dark-secondary);
  background-color: var(--color-gray-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** buttons */

.button {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.button--small {
  font-size: 16px;
  line-height: 20px;
}

.button--big {
  font-size: 20px;
  line-height: 36px;
}

.button--primary {
  color: var(--color-light);
  background-color: var(--color-primary);
}

.button--secondary {
  color: var(--color-light);
  background-color: var(--color-secondary);
}

.button--border {
  border: var(--border-gray-2);
}

.button--transparent {
  color: var(--color-light);
  background-color: transparent;
}

.button--active {
  color: var(--color-light);
  background-color: var(--color-accent);
}

.button--current {
  border: var(--border-dark-primary-2);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--color-light);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-container > main {
  flex-grow: 1;
}

/** page-header */

.page-header,
.navigation,
.navigation-list {
  display: flex;
  align-items: center;
}

.page-header {
  position: relative;
  z-index: 10;
  padding: 0 70px;
}

.page-header-logo-wrap {
  margin-bottom: -6px;
  align-self: flex-start;
  margin-right: 44px;
}

.page-header-logo {
  display: block;
}

/* Навигация */
.navigation {
  flex: auto;
}

.navigation-list:first-child {
  flex: auto;
}

.navigation-user-list {
  margin-right: 20px;
}

.navigation-link,
.navigation-user-link {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-decoration: none;
}

.navigation-link {
  min-height: 62px;
  padding-top: 20px;
  padding-bottom: 17px;
}

.navigation-link--current {
  border-bottom: 2px solid var(--color-primary);
}

.navigation-item:not(:last-child) {
  margin-right: 32px;
}

.page-header-button {
  padding: 8px 34px;
}

/** main */

/* Первая секция */
.hero {
  padding: 51px 10px;
  padding-bottom: 82px;
  text-align: center;
  background-color: var(--color-dark-secondary);
  background-image: url("../images/mask-shape.svg"), url("../images/hero-bg-image.jpeg");
  background-size: 100% auto, cover;
	background-position: bottom, center;
  background-repeat: no-repeat;
}

/* О нас */
.about {
  padding-top: 69px;
  text-align: center;
}

.about-title {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.about-subtitle {
  margin-bottom: 69px;
}

.about-item-row {
  color: var(--color-light);
  background-color: var(--color-secondary);
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-item:nth-child(3) {
  background-color: var(--color-secondary-middle);
}

.about-item:nth-child(2n) {
  background-color: var(--color-secondary-light);
}

.about-item-image {
  display: block;
}

.about-item-title {
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-item:nth-child(n+2):nth-child(-n+4) >
.about-item-title {
  color: var(--color-dark-primary);
}

.about-description::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: auto;
  margin-bottom: 30px;
  background-color: var(--color-light);
  opacity: 0.3;
}

.about-item:nth-child(n+2):nth-child(-n+4) >
.about-description::before {
  background-color: var(--color-dark-primary);
}

.about-description {
  font-size: 18px;
  line-height: 21px;
}

/* Преимущества */
.advantages {
  padding-top: 64px;
  text-align: center;
}

.advantages-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  min-height: 400px;
}

.advantages-subtitle {
  margin-bottom: 64px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}

.advantages-item:nth-child(2n+1) {
  background-color: var(--color-secondary-middle);
}

.advantages-item-title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.advantages-icon-house::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: auto;
  margin-bottom: 30px;
  background-image: url("../images/icons/advantages-icon-house.svg");
}

.advantages-icon-food::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: auto;
  margin-bottom: 30px;
  background-image: url("../images/icons/advantages-icon-food.svg");
}

.advantages-icon-gift::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: auto;
  margin-bottom: 30px;
  background-image: url("../images/icons/advantages-icon-gift.svg");
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

/* Предложение найти гостиницу */
.offer {
  padding: 96px 10px;
  text-align: center;
}

.offer-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.offer-subtitle {
  margin-bottom: 54px;
}

.offer-button {
  padding: 8px 50px;
}

/* Подписка  */
.subscribe {
  padding: 96px 10px;
  padding-bottom: 104px;
  text-align: center;
}

.subscribe.subscribe-bg {
  background-color: var(--color-dark-secondary);
  background-image: url(../images/subscribe-bg-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.subscribe-bg .subscribe-title,
.subscribe-bg .subscribe-subtitle {
  color: var(--color-light);
}

.subscribe-subtitle {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-inner {
  display: inline-block;
}

.subscribe-button {
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
}

.subscribe-field {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--color-gray-light);
  border: none;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
}

/* Подвал */
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px;
}

.contact-phone {
  font-style: normal;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--color-dark-primary);
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

/** Страница каталога */

.inner-hero {
  padding: 35px 70px 70px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-secondary);
  background-image: url("../images/place-filter-bg-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.inner-navigation {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
}

.item-icon {
  display: block;
  width: 13px;
  height: 15px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

/* Фильтры */
.catalog-filter {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.catalog-filter-set {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  flex-shrink: 1;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.catalog-filter-set:nth-child(2) {
  margin-right: auto;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.price-range {
  display: flex;
  gap: 2px;
  width: 288px;
  margin-bottom: 36px;
  overflow: hidden;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.min-price,
.max-price {
  width: 100%;
  padding: 12px 20px;
  border: none;
  font-weight: 700;
}

.price-range label {
  position: relative;
}

.price-label {
  position: absolute;
  z-index: 20;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--color-dark-primary);
  opacity: 0.3;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.filter-buttons {
  align-self: flex-end;
}

.apply-button {
  margin-bottom: 32px;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
}

.reset-button {
  padding: 8px 50px;
  border: transparent;
  cursor: pointer;
}

/* Каталог */
.catalog-products {
  padding: 50px 70px;
}

.catalog-products-header {
  display: flex;
  align-items: flex-start;
}

.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

/* Сортировка */
.select-control {
  display: block;
  width: 100%;
  max-width: 290px;
  margin: 0;
  padding: 14px 20px;
  border: var(--border-gray-2);
  border-radius: var(--border-radius);
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-position: right 20px top 50%;
  background-size: 12px auto;
  background-repeat: no-repeat;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.select-control::-ms-expand {
  display: none; /* Hide the default arrow in IE 10 and 11 */
}

.view-list {
  display: flex;
}

.view-item > .button {
  width: 48px;
  height: 48px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-view-button {
  background-image: url("../images/icons/view-grid-icon.svg");
}

.extended-view-button {
  background-image: url("../images/icons/view-extended-icon.svg");
}

.list-view-button {
  background-image: url("../images/icons/view-list-icon.svg");
}

/* Карточки */
.product-card-link {
  color: inherit;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-dark-primary);
}

.product-card p {
  font-size: 18px;
  line-height: 21px;
}

.product-card-button {
  padding: 8px 18px;
}

.product-card-rating {
  display: inline-block;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-gray-light);
}

/* Пагинация */
.pagination-link {
  padding: 12px 18px;
  width: 60px;
  height: 60px;
}

.pagination--current {
  color: var(--color-dark-primary);
  background-color: var(--color-gray-light);
}
